openapi: 3.0.3
info:
  title: Vendr Catalog Pricing Products API
  description: Provides structured product catalog attributes derived from thousands of unstructured software quotes. Enables buyers to understand product breadth, available add-ons, pricing tiers, and feature comparisons across the Vendr software catalog. Formerly Blissfully, now part of Vendr's SaaS buying and management platform.
  version: '1.0'
  contact:
    name: Vendr API Support
    url: https://developers.vendr.com
  x-generated-from: documentation
servers:
- url: https://api.vendr.com/v1
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Products
  description: Software product catalog entries
paths:
  /products:
    get:
      operationId: listProducts
      summary: Vendr List Software Products
      description: List software products in the Vendr catalog with structured attributes including features, add-ons, pricing tiers, and category information derived from Vendr's database of software purchases and quotes.
      tags:
      - Products
      parameters:
      - name: category
        in: query
        description: Filter by product category (e.g., CRM, Security, HR)
        schema:
          type: string
        example: CRM
      - name: vendor_id
        in: query
        description: Filter products by vendor identifier
        schema:
          type: string
        example: vendor-500123
      - name: limit
        in: query
        description: Maximum number of results to return
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 20
      - name: offset
        in: query
        description: Number of results to skip for pagination
        schema:
          type: integer
          minimum: 0
        example: 0
      responses:
        '200':
          description: List of software products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
              examples:
                ListProducts200Example:
                  summary: Default listProducts 200 response
                  x-microcks-default: true
                  value:
                    products:
                    - id: product-500123
                      name: Salesforce Sales Cloud
                      vendor_id: vendor-salesforce
                      category: CRM
                      description: Customer relationship management platform
                    total: 1
                    limit: 20
                    offset: 0
        '401':
          description: Unauthorized - missing or invalid API key
        '429':
          description: Rate limit exceeded - 250 requests per minute
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /products/{product_id}:
    get:
      operationId: getProduct
      summary: Vendr Get Software Product
      description: Retrieve detailed information for a specific software product including all catalog attributes, available add-ons, pricing tiers, and feature list.
      tags:
      - Products
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique product identifier
        schema:
          type: string
        example: product-500123
      responses:
        '200':
          description: Software product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
              examples:
                GetProduct200Example:
                  summary: Default getProduct 200 response
                  x-microcks-default: true
                  value:
                    id: product-500123
                    name: Salesforce Sales Cloud
                    vendor_id: vendor-salesforce
                    category: CRM
                    description: Customer relationship management platform for sales teams
                    features:
                    - Contact Management
                    - Pipeline Management
                    - Reporting and Analytics
        '401':
          description: Unauthorized
        '404':
          description: Product not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Product:
      type: object
      description: A software product in the Vendr catalog
      properties:
        id:
          type: string
          description: Unique product identifier
          example: product-500123
        name:
          type: string
          description: Product name
          example: Salesforce Sales Cloud
        vendor_id:
          type: string
          description: Associated vendor identifier
          example: vendor-salesforce
        category:
          type: string
          description: Product category
          example: CRM
        description:
          type: string
          description: Product description
          example: Customer relationship management platform
        features:
          type: array
          description: List of product features
          items:
            type: string
          example:
          - Contact Management
          - Pipeline Management
        add_ons:
          type: array
          description: Available product add-ons
          items:
            type: string
    ProductListResponse:
      type: object
      description: Paginated list of software products
      properties:
        products:
          type: array
          description: List of products
          items:
            $ref: '#/components/schemas/Product'
        total:
          type: integer
          description: Total number of matching products
          example: 250
        limit:
          type: integer
          description: Maximum results per page
          example: 20
        offset:
          type: integer
          description: Current page offset
          example: 0
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Contact Vendr support to obtain API access. Rate limited to 250 requests per minute and 150,000 per day.
